
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Tamil:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arizonia&family=Bebas+Neue&family=Kaushan+Script&family=Mr+Dafoe&family=Permanent+Marker&display=swap');
*{
  

}

.container-fluid{
  background-image: linear-gradient(to right, #5a5c77, rgba(255,0,0,0));

  gap: 5%;
  /* margin-left: 2%; */
 
}

.navbar-brand1{
  font-weight: bolder;
  font-size: x-large;
  text-transform: uppercase;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 8px;
  color: black;
  width: inherit;


}
.collapse {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Permanent Marker', cursive;
  display: flex;
  justify-content: end;
  margin-right: 2%;
  font-size: large;
  font-weight: bolder;
  
} 
.collapse li a{
  margin-left: 30px; 
}
.pro{
  text-align: center;
  text-decoration: underline ;
}
.logo img{
  height: 60px;
  width: 60px; 
}
.Welcome {
 color: white;
  text-align: center;
}
.wel{
  font-family: 'Abril Fatface', cursive;
  font-family: 'Arizonia', cursive;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Mr Dafoe', cursive;
  font-family: 'Permanent Marker', cursive; 
}
.food12{  
  /* letter-spacing: 10px; */
  
}
.chef img{
  height: 150px;
  width: 260px;
  color: white;
}
.star{
  font-weight: bolder;
  font-size: larger;
}
.best{
  font-family: 'Abril Fatface', cursive;
font-family: 'Arizonia', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Lobster', cursive;
font-family: 'Mr Dafoe', cursive;
font-family: 'Permanent Marker', cursive;

}
.book19 {
  text-decoration: none;
  font-size: larger;
  color: white;
  border:  2px solid white;
  padding: 5px 5px ;
  border-radius: 5px 5px ;
  font-weight: bolder; 
}
.book19:hover{
  background-color: #2bf094;
  color: black;
  border: 2px solid black;
  transition: all .2s ease;
}
/* .bg img{
  width: 100%;
  height: 89vh;
} */ 
.navbar{
  padding: 0;
}
.backimg{
  background-image: url(/src/img/img6.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover; 
}
@media  (max-width: 400px) {
  .backimg{
    background-image: url(/src/img/img6.jpg);
    height: 102vh;
    width: 100%;
    background-size: cover; 
  }

}


/* this is a recreation of twitter search in css */
.form {
  --input-text-color: #fff;
  --input-bg-color: #d2d6da;
  --focus-input-bg-color: transparent;
  --text-color: #050505;
  --active-color: #181717;
  --width-of-input: 200px;
  --inline-padding-of-input: 1.2em;
  width: 100%;
  --gap: 0.9rem;
}
/* form style */
.form {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  /* width: 20%; */
  position: relative;
  isolation: isolate;
}
/* a fancy bg for showing background and border when focus. */
.fancy-bg {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--input-bg-color);
  border-radius: 30px;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* label styling */
label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

.search,.close-btn {
  position: absolute;
}
/* styling search-icon */
.search {
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
}
/* svg -- size */
svg {
  width: 17px;
  display: block;
}
/* styling of close button */
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}
/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color)
}
/* input background change in focus */
.input:focus ~ .fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}
/* search icon color change in focus */
.input:focus ~ .search {
  fill: var(--active-color);
}
/* showing close button when typing */
/* .input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
} */
/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
/* ------------------------MENU BUTTON start------------------ */
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all .15s ease;
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 2px solid white;
  transition: all .15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: rgb(248, 242, 242);
  background-color: #3a638d;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all .2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #2bf094;
  color: #050505;
  transform: skew(-15deg);
  transition: all .2s ease;
}

.button_text a {
  position: relative;
  text-decoration: none;
  color: white;
  letter-spacing: 5px;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Permanent Marker', cursive;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}
/* --------------------------end------------------- */
/* --------------------------Table start------------------- */
.collapse li a {
  margin-left: 30px;
  text-decoration: none;
  color: black;
  font-size: larger;
}

